nav ul li {
	display: inline;
}

html{
	background-color: black;
}

div {
	padding: 0px 10px 10px 10px;
}

.page {
	background-color: white;
}

/*header text styling*/
.title {
	font-family: Montserrat;
	font-size: 50px;
	text-align: right;
	padding: 0px 0px 0px 0px;
}

div .contact p {
	display: inline;
}

div .contact  {
	padding-right:30px;
	padding-left: 150px;
}

p.divide {
	padding-right: 30px;
}

p.contact_info {
	padding-right: 50px;
}

p.ci2 {
	padding-right: 50px;
}

p.ci3 {
	
}

.bold {
	height: 15px;
	background-color: black;
}

.divisor {
	height: 8px;
	background-color: black;
}

/*section one css*/
section.summary h2 {
	display: inline;
	padding-left: 350px;
}

.s_con {
	padding-right: 50px;
	padding-left: 100px;
	width: 500px;
}

p.ed_con {
	position: relative;
    margin-top: -89px;
    margin-left: 760px;
}
p.ed_con2 {
	position: relative;
    margin-left: 760px;
}
/*section two css*/
section.skills h2 {
	display: inline;
	padding-left: 600px;
}
div.exp {
	width: 500px;
    padding-left: 95px;
}
div.exp2 {
	position: relative;
    margin-top: -185px;
    margin-left: 750px;
    width: 500px;
}
/*section 3 css*/
ul.sk_con {
	padding-left: 107px;
}
ul.sk_con_2 {
	position: relative;
	margin-top: -90px;
	margin-left: 736px;
	
}
/*pdf section css*/
section.pdf {
	padding-left: 555px;
}

/*the following code is integrated from https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp#:~:text=Example%20Explained,dropdown%20menu%20correctly%20with%20CSS.*/

.navbar {
  overflow: hidden;
  background-color: white;
  font-family: Montserrat;
}

.navbar a {
	float: left;
	font-size: 20px;
	color: black;
	text-align: center;
	padding: 0px 250px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}
