/*general/resume page styling*/
li {
	font-family: Montserrat;
}
h3 {
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;
}
h1.title {
	padding-right: 50px;
}
h2.page_title {
	padding-right: 50px;
	font-family: 'Montserrat', sans-serif;
}
nav ul li {
	display: inline;
}

html{
	background-color: black;
}

div {
	padding: 0px 10px 10px 10px;
}

.page {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
}

/*header text styling*/
.page_title {
	text-align: right;
	font-size: 40px;
}
.title {
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	text-align: right;
}

div .contact p {
	display: inline;
}

div .contact  {
	padding-right:30px;
	padding-left: 150px;
}

p.divide {
	padding-right: 30px;
}

p.contact_info {
	padding-right: 50px;
}

p.ci2 {
	padding-right: 50px;
}

p.ci3 {
	
}

.bold {
	height: 15px;
	background-color: black;
}

.divisor {
	height: 8px;
	background-color: black;
}

p.res_link {
	display: inline;
	padding-left: 130px;
}
p.res_link a {
	color: black;
}

/*section one css*/
section.summary h3 {
	display: inline;
	padding-left: 350px;
}

.s_con {
	padding-right: 50px;
	padding-left: 100px;
	width: 500px;
}

p.ed_con {
	position: relative;
    margin-top: -90px;
    margin-left: 760px;
}
p.ed_con2 {
	position: relative;
    margin-left: 760px;
}
/*section two css*/
section.skills h3 {
	display: inline;
	padding-left: 610px;
}
div.exp {
	width: 500px;
    padding-left: 95px;
}
div.exp2 {
	position: relative;
    margin-top: -195px;
    margin-left: 750px;
    width: 440px;
}
p.ta {
	font-size: 1.2em;
}
p.cfa {
	font-size: 1.2em;
}

/*section 3 css*/
ul.sk_con {
	padding-left: 107px;
}
section.skills ul.sk_con_2 {
	position: relative;
	margin-top: -90px;
	margin-left: 736px;
	
}

/*pdf section css*/
section.pdf {
	padding-left: 555px;
}

/*the following code is integrated from https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp#:~:text=Example%20Explained,dropdown%20menu%20correctly%20with%20CSS.*/

.navbar {
  overflow: hidden;
  background-color: white;
}

.navbar a {
	float: left;
	font-size: 20px;
	color: black;
	text-align: center;
	padding: 0px 250px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

.dropdown {
	float: left;
	overflow: hidden;
}

/*about page styling*/
section.aboutme {
	display: inline;
}
p.ab_info {
	width: 500px;
	padding-left: 630px;
}
h3.ab_title {
	text-align: right;
	padding-right: 160px;
}
h3.Y {
	text-align: right;
	padding-right: 160px;
}
p.y_info {
	width: 500px;
	padding-left: 630px;
	
}
/*image styling*/
div.image {
	width: 300px;
	height: 300px;
	position: relative;
    margin-top: -327px;
    margin-left: 125px;
}
img {
	width: 100%;
}